.form_radio{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    padding-top: 1em;
}

.form_radio input{
    padding-right: .55px;
}

.form_radio div{
    padding-right: 6em;
}

  
